* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.618;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
}
body {
	background-color: #097b51;
	background-image: url(../images/green_two.jpg);
	background-size: 100vw;
    background-repeat: no-repeat;
}
header {
    position: fixed;
}
nav {
    display: none;
}
main {
    margin-top: .5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
}
.single-photo {
    margin-top: 3rem;
    width:75%;
    border-radius: 50%;
}
h1 {
	font-size: 2rem;
	text-align: center;
}
.professional-links {
    margin-bottom: 1rem;
    display: grid;
	grid-template-columns: repeat(2,1fr);
	justify-content: center;
    align-items: center;
}
.professional-link{
    font-size: 1rem;
    text-align: center;
    margin: .25rem;
    padding: .25rem 1rem;
    background-color: rgba(0,0,0,.25);
}
.alt-content {
    width: 60%;
    margin-bottom: 1rem;
    text-align: center;
}
.content {
    display: none;
}
footer {
    position: absolute;
    bottom: 0;
}
.photo-source {
	margin-left: .25rem;
	padding: .25rem;
	background-color: rgba(0,0,0,.25);
}
@media screen and (min-width: 500px) {
    header {
        position: relative;
        background-color: rgba(0,0,0,.5);
    }
    nav {
        display: flex;
    }
    .nav-link {
        margin-left: 1rem;
    }
    .single-photo {
        display: none;
    }
    .professional-links {
        display: flex;
        flex-direction: row;
    }
    h1 {
        font-size: 4rem;
    }
    .alt-content {
        display: none;
    }
    .content {
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }
    p {
        margin-bottom: 1rem;
        text-align: justify;
    }
    footer {
        bottom: 0;
        position: fixed;
    }
}