* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.618;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
}
body {
	background-color: #097b51;
	background-image: url(../images/green_one.jpg);
	background-attachment: fixed;
	background-size: 100vw;
	background-repeat: no-repeat;
}
header {
	position: relative;
}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 80vh;
}
nav {
	display: none;
}
h1 {
	font-size: 4rem;
	text-align: center;
}
.photo-source {
	margin: .25rem;
	padding: .25rem 1rem;
	background-color: rgba(0,0,0,.25);
}
@media screen and (min-width: 500px){
	h1 {
		font-size: 6rem;
	}
	main {
		height: 95vh;
	}
	nav {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.nav__links {
		font-size: 1rem;
		margin: .25rem;
		padding: .25rem 1rem;
		background-color: rgba(0,0,0,.25);
	}
}

