* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.618;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
}
body {
    background-color: #285238;
    background-image: url(../images/green_one.jpg);
	background-attachment: fixed;
	background-size: 100%;
	background-repeat: no-repeat;
}
main {
    display: grid;
    grid-template-rows: repeat(2, 100vh)
}

/*--------------------------------------
                HOME              
---------------------------------------*/

.home {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    margin-top: 30vh;
}
.home h1 {
    font-size: 6rem;   
    font-weight: 700;
}
.home .nav-links {
    font-size: 1.5rem;
	margin: .25rem;
	padding: .25rem 1rem;
	background-color: rgba(0,0,0,.25);
}

/*--------------------------------------
                ABOUT ME              
---------------------------------------*/
.about {
    background-color: #285238;
    width: 100%;
    display: flex;
    justify-content: center;
	align-items: center;
}
.about-photo {
    margin: 2rem;
    width: 40%;
}
.about-photo img {
    width: 100%;
    border-radius: 50%;
}
.about-text {
    margin: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-links {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
	justify-content: center;
    align-items: center;
}
.about-link{
    font-size: 1rem;
    text-align: center;
    margin: .25rem;
    padding: .25rem 1rem;
    background-color: rgba(0,0,0,.25);
}
.about h1 {
    font-size: 3rem;
    text-align: center;
}
.about h2 {
    margin-top: 2rem;
    font-size: 2rem;
}
.about p {
    width: 75%;
    text-align: justify;
}

/*--------------------------------------
                PROJECTS              
---------------------------------------*/

/*--------------------------------------
                MOBILE VIEW         
---------------------------------------*/
@media screen and (max-width: 900px) {
    .about-photo {
        display: none;
    }
    .about-text {
        width: 100%;
    }
    .about h1 {
        font-size: 2rem;
    }
    .about h2 {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 900px) and (min-width: 650px){
    .home h1 {
        font-size: 4rem;   
    }
}
@media screen and (max-width: 650px) and (min-width: 500px) {
    .home h1 {
        font-size: 3rem;   
    }
}
@media screen and (max-width: 500px){
    .home h1 {
        font-size: 2rem;   
    }
    .home .nav-links {
        font-size: .75rem;
        margin: 0 auto;
        padding: 0 auto;
        background-color: rgba(0,0,0,.25);
    }
    .about-links {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .about h2 {
        display: none;
    }
    .about-skills {
        display: none;
    }
}