* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.618;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
}
body {
	background-color: #097b51;
	background-image: url(../images/green_three.jpg);
	background-attachment: fixed;
	background-size: 100vw;
    background-repeat: no-repeat;
}
header {
    position: fixed;
}
nav {
    display: none;
}
main {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 90vh;
}
.project {
	background-color: rgba(0,0,0,.25);
	margin: 10px;
	border-radius: 10px; 
	max-width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.project__image {
	z-index: 10;
	margin: 0 auto;
	width: 75%;
	position: fixed;
}
.project__header {
	margin: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.project__summary {
	display: none;
}
.project__footer {
	display: none;
}
footer {
    position: absolute;
    bottom: 0;
}
.photo-source {
	margin-left: .25rem;
	padding: .25rem;
	background-color: rgba(0,0,0,.25);
}
@media screen and (min-width: 500px) {
    header {
		position: fixed;
        background-color: rgba(0,0,0,.5);
    }
    nav {
        display: flex;
    }
    .nav-link {
        margin-left: 1rem;
	}
	main {
		align-items: baseline;
	}
	.projects {
		display: grid;
		grid-template-columns: repeat(2,1fr);
	}
	.project__image {
		z-index: 0;
		position: relative;
		margin: 1rem auto;
		margin-bottom: 0.5rem;
		width: 95%;
		border-radius: 10px; 
	}
	.project__summary {
		display: inline-block;
		margin: 1rem;
		margin-top: 0;
		text-align: justify;
	}
	.project__footer {
		display: inline-block;
		margin: 1rem;
	}
	footer {
        bottom: 0;
        position: fixed;
    }
}
@media screen and (max-width: 500px) {
	.project__image {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}