/*comments*/
/*flexbox = 1-dimensional alignment*/
/*grid = 2-dimensional alignment*/
/*BEM = block, element, modifier*/

* {
	box-sizing:border-box;
	margin: 0;
	padding: 0;
}

html {
	background-color:#ffffff;
	font:16px/1.618 Arial, sans-serif;
	color: #000000;
}

.about-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-header {
	background-color: #ACD8AA;
	border-radius: 10px;
	width: 500px;
	display: flex;
	flex-direction: column;
	margin-top: .5rem;
	margin-bottom: 1rem;
	padding-bottom: .5rem;
	position: fixed;
}

.main-header__title {
	text-indent: 1rem;
}

.main-header__nav {
	margin-top: -.5rem;
	text-indent: 1rem;
}

.main-header__nav__link {
	text-decoration: none;
}

.personal-photo__collage {
	padding-top: 6rem;
	width: 500px;
}

.section-header {
	background-color: #ACD8AA;
	border-radius: 10px;
	width: 500px;
	text-indent: 1rem
}

.text-container {
	margin-top: .5rem;
	margin-bottom: 2rem;
	width: 468px;
	text-align:justify;
}

.projects {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.project-container {
	background-color: #ACD8AA;
	margin: 1rem;
	border-radius: 10px; 
 	width: 500px;
  	height: 600px; 
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.project-container__image {
	margin: 1rem auto;
	margin-bottom: 0.5rem;
	width: 95%;
	border-radius: 10px; 
}

.project-container__header {
	text-indent: 1rem;
}

.project-container__summary {
	margin: 1rem;
	margin-top: 0;
	text-align: justify;
}

.project-container__footer {
	margin: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main-footer {
	background-color: #000000;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 1rem;
	padding-bottom: .5rem;
}

.main-footer a {
	text-decoration: none;
}

.contact-information {
	display: none;
}

.professional-link__icon {
	width: 48px;
	height: 48px;
	margin: .5rem;
}

@media screen and (min-width: 1100px) {
	.main-header {
		width: 1032px;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 0;
		position: fixed;
	}

	.main-header__nav {
		padding-right: 1rem;
	}

	.personal-photo__collage {
		padding-top: 4rem;
		width: 1032px;
	}

	.section-header {
		width: 1032px;
	}

	.text-container {
		width: 1000px;
	}

	.projects--grid-layout {
		display: grid;
		grid-template-columns: repeat(2,1fr);
	}

	.main-footer {
		flex-direction: row;
		justify-content: space-between;
		padding: 1rem;
	}

	.contact-information {
		display: block;
	}

	.professional-link__icon {
		width: 32px;
		height: 32px;
		margin: .5rem;
	}
}